.ms-top-header {
    background-color: #0282f9;
}

.ms-nav-header-top {
    padding: 5px 0;
    display: flex;
    justify-content: end;
    li {
        list-style: none;
        padding-left: 35px;
    }
    li a {
        color: white;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
    }
}

.ms-nav-header-bottom {
    padding: 10px 0;

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        // padding: 0 10px;
    }
    li a {
        color: inherit;
        text-decoration: none;
        font-size: 12px;
        font-weight: 700;
        img {
            height: 70px;
        }
    }
}
.search-text {
    border: none;
    text-align: right;
    border-bottom: 2px solid #0282f9;
    width: 100px;
}
